<div class="container mx-auto py-8">
  <!-- Your existing content here -->
  <h1 class="text-3xl font-bold mb-4">Presents</h1>
  <p class="text-gray-600 mb-6">Implements multiple gems</p>

  <!-- Additional content -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-white rounded shadow p-6">
      <h2 class="text-lg font-bold mb-2">Gems</h2>
      <ul>
        <li class="text-gray-800"><a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-user-authentication-with-devise-in-a-rails-7-application" class="text-blue-500 hover:underline">Devise Gem</a></li>
        <li class="text-gray-800"><a href="https://devblast.com/b/jutsu-9-send-emails-development-letter-opener" class="text-blue-500 hover:underline">Letter Opener gem</a></li>
        <%# <li class="text-gray-800">Cancancan Gem</li> %>
        <li class="text-gray-800"><a href="https://github.com/faker-ruby/faker" class="text-blue-500 hover:underline">Faker Gem</a></li>
        <li class="text-gray-800"><a href="https://github.com/kaminari/kaminari" class="text-blue-500 hover:underline">kaminari Gem</a></li>
        <li class="text-gray-800"><a href="https://github.com/rubocop/rubocop" class="text-blue-500 hover:underline">Rubocop Gem</a></li>
        <li class="text-gray-800"><a href="https://tailwindcss.com/docs/guides/ruby-on-rails" class="text-blue-500 hover:underline">Tailwindcss-rails Gem</a></li>
        <li class="text-gray-800"><a href="https://github.com/rswag/rswag" class="text-blue-500 hover:underline">Rswag Gem</a></li>
        <li class="text-gray-800"><a href="https://github.com/rspec/rspec-rails" class="text-blue-500 hover:underline">Rspec Gem</a></li>
      </ul>
    </div>
    <div class="bg-white rounded shadow p-6">
      <h2 class="text-lg font-bold mb-2">Purpose</h2>
      <ul>
        <li class="text-gray-800">For Authentication</li>
        <li class="text-gray-800">For Sending Mails</li>
        <%# <li class="text-gray-800">For Authorization</li> %>
        <li class="text-gray-800">For adding Fake data</li>
        <li class="text-gray-800">For Pagination</li>
        <li class="text-gray-800">For Syntax Alignment</li>
        <li class="text-gray-800">For Styling</li>
        <li class="text-gray-800">For Documentation</li>
        <li class="text-gray-800">For Test Case</li>
      </ul>
    </div>
  </div>
</div>
